// Color variables
$primary-clr: #F5E389;
$secondary-clr: #4D937E;

$services-bg-clr: #F0EEE1;
$contact-bg-clr: #32A773;

// Typograpgy

.green-clr {
  color: $secondary-clr;
  font-weight: bold;
}

.yellow-text {
  color: $primary-clr;
  font-style: italic;
}

.italic-style {
  font-style: italic;
}
