@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Noto Serif', serif;
}

// NAVBAR

.navbar {
  background-color: rgba(0, 0, 0, .4);
  position: fixed;
  width: 100%;
  z-index: 100;

  @media (max-width: 450px) {
    .brand-lg {
      display: none;
    }
  }

  @media (min-width: 450px) {
    .brand-xs {
      display: none;
    }
  }

  .dropdown-toggle {

    .fa-angle-down {
      margin-left: 10px;
    }

    &::after {
      display: none;
    }
  }

  .navbar-toggler {

    &:focus{
      outline: none;
    }
  }

  .hamburger {
    color: #fff;
    font-size: 30px;
  }

  .dropdown-menu {
    position: absolute;
  }
}

.navbar-collapse  {
  padding-top: 11px;

  .nav-link {
    color: $primary-clr !important;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
    transition: .2s ease-in;

    &:hover {
      color: #fff !important;
    }

    @media (max-width: 992px) {
      margin-left: 0px;
      padding-top: 2px;
    }
  }

  .order {
    color: #fff !important;
    text-transform: initial;
    position: relative;
    line-height: 15px;

    &::before {
      content: "";
      position: absolute;
      height: 17px;
      width: 2px;
      background-color: rgb(114, 114, 114);
      left: -5px;
      top: 10px;

      @media (max-width: 992px) {
        height: 2px;
        width: 40px;
        top: -4px;
        left: 0px;
      }
    }

    .checkout {
      color: rgb(134, 152, 155);
      font-size: 10px;
      transition: .2s ease-in;
    }

    .checkout-arrow {
      font-size: 10px;
      margin-left: 3px;
      color: #fff !important;
      transition: transform .7s ease-in;
    }

    &:hover > .checkout {
      color: $primary-clr;
    }

    &:hover > .checkout-arrow {
      transform: rotateX(360deg);
    }
  }

  .active-link {
    color: #fff !important;
  }
}

// BUTTON
.primary-btn {
  display: flex;
  align-items: center;
  margin: 50px auto 0 auto;
  padding: 15px 35px;
  background: transparent;
  border: 2.5px solid $primary-clr;
  border-radius: 7px;
  color: $primary-clr;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
  transition: .2s ease-in;
  font-family: 'Noto Serif', serif;
  letter-spacing: 1.3px;

  i {
    font-size: 17px;
    margin-left: 10px;
    transition:  transform .7s ease-in;
  }

  &:hover {
    color: $secondary-clr;
    border-color: $secondary-clr;
  }

  &:hover > i {
    transform:rotateY(360deg);
  }
}

// TITLES & SUBTITLES

.title {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 40px;
}

.subtitle {
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}

