@import "variables";
@import "global";



// HERO SECTION

.hero {
  height: 100vh;
  display: flex;
  background-image: url(/assets/home-1.jpg);
  justify-content: center;
  align-items: center;
  
  .carousel-inner {
    color: #fff;
    text-align: center;
    margin-top: 150px;

    .hero-header {
      margin-bottom: 50px;
      font-weight: 300;
      font-size: 50px;
    }

    .hero-text {
      font-size: 17px;

      &:last-of-type {
        margin-bottom: 10px;
      }
    }
  }

  .carousel-indicators {
    margin: 95px;

    & li {
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }
  }

  .signature {
    margin-bottom: 50px;
  }
}

// PREVIEW SECTION

.preview {
  background-color: #2F3A3E;

  .preview-block {
    text-align: center;
    margin: 40px 0px;
    padding: 0px 30px;

    &:nth-of-type(2) {
      border-left: 1px solid #475256;
      border-right: 1px solid #475256;
    }

    p {
      color: #fff;
      font-size: 13px;
      margin: 25px 0px 0px 0px;
      font-weight: 500;
    }

    img {
      transition: .5s ease-in;
    }

    &:hover > img {
      transform: translateY(-10px);
    }
  }
}

// SERVICES SECTION

.services {
  background-color: #F0EEE1;
  padding: 60px 0px;

  .services-title {
    color: #2F3A3D;
  }

  .services-subtitle {
    color: #6e9182;
    margin-bottom: 50px;
  }

  .services-block {
    
    padding: 30px 15px 50px 15px;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.75);
    transition: .2s ease-in;

    &:hover {
      transform: scale(1.04);
    }

    .block-title {
      font-size: 17px;
      font-weight: bold;
      margin-top: 30px;
      color: #31383B;
    }

    .block-text {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
