@import "variables";
@import "global";

.navbar {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 100;
}

// HERO

.hero {
  height: 100vh;
  display: flex;
  background-image: url(/assets/home-1.jpg);
  justify-content: center;
  align-items: center;
  
  .carousel-inner {
    color: #fff;
    text-align: center;

    .hero-header {
      margin-bottom: 50px;
      font-weight: 300;
      font-size: 50px;
    }

    .hero-text {
      font-size: 17px;

      &:last-of-type {
        margin-bottom: 5px;
      }
    }
  }
}

// PREVIEW SECTION

.preview {
  background-color: #2F3A3E;

  .preview-block {
    text-align: center;
    margin: 40px 0px;
    padding: 0px 30px;

    &:nth-of-type(2) {
      border-left: 1px solid #475256;
      border-right: 1px solid #475256;
    }

    p {
      color: #fff;
      font-size: 13px;
      margin: 25px 0px 0px 0px;
      font-weight: 500;
    }

    img {
      transition: .5s ease-in;
    }

    &:hover > img {
      transform: translateY(-10px);
    }
  }
}
